.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px;
}

.title {
    margin: 20px 50px;
}
.text {
    font-size: 36px;
    text-align: center;
    color: white;
    margin-top: 50px;
}